---
title: "Projects"
layout: default
permalink: "/projects.html"
---

<div class="row listrecent">
{% for project in site.projects %}
<div class="section-title col-md-12 mt-4">
<h2 id="{{ project[0] | replace: " ","-" }}">Project <span class="text-capitalize">{{ project[0] }}</span></h2>
</div>
{% assign pages_list = project[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>